<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Книга</title>
</head>
<body>
  <p th:text="${book.getName()+', '+ book.getAuthor()+', '+ book.getYearOfPublishing()}">Название, Автор, Год публикации</p>

  <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}" th:object="${people}">
    <div th:if="${owner == null}">
      <p>Эта книга свободна. Кому назначить её?</p>
      <label for="AllPeople">Выберите читателья</label>
      <select id="AllPeople" name="selectedPersonId">
        <option th:each="man : ${people}" th:value="${man.getId()}" th:text="${man.getFullName()}">Читатель 1</option>
      </select>
      <input type="submit" value="Назначить книгу"/>
    </div>
  </form>
  <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}" th:object="${owner}">
    <div th:if="${owner != null}" >
      <p th:text="'The book is now: ' + ${owner.getFullName()}">Полное имя человека, который читает</p>
      <input type="submit" value="Освободить книгу"/>
    </div>
  </form>
  <br/>
  <br/>
  <div style="border: black 1px solid; max-width: max-content">
    <a style="padding: 10px; text-decoration-line: none;color: black" th:href="@{/books/edit/{id}(id=${book.getId()})}">Редактировать</a>
  </div>
  <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}" >
    <br/>
    <input type="submit" value="Удалить" />
  </form>
</body>
</html>